extends ../layouts/base
 
block content
    link(href="/css/newPost.css", rel="stylesheet")
    script(type='text/javascript' src="/js/newpost.js")

    h2 #{subReddit} - New Post

    div.message
        if typeof info !== "undefined"
            .info
                h5 #{info}
        if typeof error !== "undefined"
            .error
                h5 #{error}

    ul#formTypes
        li 
            a.link Link
        li.active
            a.text Text

    p.rules Merci de poster un lien ou contenu en adéquation avec la section concernée, tout propos racistes entraine un kick ou un ban.      

    div#main

    script(type="text/template" id="textFormTemplate")
        h4 Submit a text post
        form(method="post" action="", novalidate).auth-form
            input(type='hidden', name='type',value="post")
            input(type='hidden', name='postType',value="text")
            input(type='hidden', name='subReddit', value="#{subReddit}")
            div.form-group
                label(for='title') Title
                input(type='string', name='title',id="title").form-control
            div.form-group
                label(for='Text') Text
                textarea(type='string', name='text', id="text").form-control
            div.form-group
                button.button(type='submit').btn.btn-primary Send

    script(type="text/template" id="linkFormTemplate")
        h4 Submit a link post
        form(method="post" action="", novalidate).auth-form
            input(type='hidden', name='type',value="post")
            input(type='hidden', name='postType',value="link")
            input(type='hidden', name='subReddit', value="#{subReddit}")
            div.form-group
                label(for='title') Title
                input(type='string', name='title',id="title").form-control
            div.form-group
                label(for='title') Link
                input(type='string', name='link',id="link").form-control
            div.form-group
                button.button(type='submit').btn.btn-primary Send

