extends ../layouts/base
 
block content
    link(href="/css/fontello/css/fontello.css", rel="stylesheet")
    link(href="/css/post.css", rel="stylesheet")
    script(type='text/javascript' src="/js/post.js")
    
    h2 #{completeName} 

    script.                                              
        window.subReddit ="#{subReddit}";
        window.postUrlTitle ="#{postUrlTitle}";
        window.comment="#{comment}";

    div#nav
        ul
            li.return
                i.icon-left-dir
                a(href="./") /r/#{subReddit}

    div#main
        div.message
            if typeof info !== "undefined"
                .info
                    h5 #{info}
                        a(class="close" onclick="$('.info').hide()") × 
            if typeof error !== "undefined"
                .error
                    h5 #{error}
                        a(class="close" onclick="$('.error').hide()") × 
        div#post
        div#commentsArea
            div#form
                if connected==true                
                    form(method="post" action="", novalidate).auth-form
                        input(type='hidden', name='type',value="comment")
                        input(type='hidden', name='subReddit', value="#{subReddit}")
                        input(type='hidden', name='postUrlTitle', value="#{postUrlTitle}")
                        div.form-group
                            label(for='Text') Comment
                            textarea(type='string', name='text', id="text").form-control
                        div.form-group.inResponseTo
                            label(for='inResponseTo' style='display: inline-block') In response to
                            input(name='inResponseTo' id="inResponseTo")
                        div.form-group
                            button.button(type='submit' class="btn btn-primary") Send
                else
                    div.notConnected 
                        i.icon-block
                        span you must be connected to comment
            div#commentsNumber
            div#comments


    script(type="text/template" id="postTemplate")
        h2 <%=title%>
        h5.date <%=date%>
        p.content <%=content%>

    script(type="text/template" id="commentTemplate")
        h5.authorAndDate <%=authorAndDate%>
        .commentContent
            p.content <%=content%>
                i.upVotesNumber <%=upVotesNumber%>
                i.downVotesNumber <%=downVotesNumber%>
                <%=iconUpOpen%>
                <%=iconDownOpen%>
            .responses
            <%=responTo%>

            





