include ../mixins/flash-messages
 
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        
        title= title || 'My Keystone Website'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(href="/styles/site.min.css", rel="stylesheet")
        link(href="/css/libs/bootstrap.min.css", rel="stylesheet")
        link(href="/css/main.css", rel="stylesheet")
        link(href="/css/nav.css", rel="stylesheet")
        link(href="/css/infos.css", rel="stylesheet")
        link(href="/css/fontello/css/fontello.css", rel="stylesheet")

        script(type='text/javascript' src="/js/libs/jquery-2.1.1.min.js")
        script(type='text/javascript' src="/js/libs/underscore.js")
        script(type='text/javascript' src="/js/libs/backbone-1.1.2.js")
        script(type='text/javascript' src="/js/libs/marionette.min-2.1.0.js")

        
        block css
        block head

        script(type='text/javascript').
            window.userInfos={};   
            window.userInfos.connected="#{connected}";
            window.userInfos.userEmail="#{userEmail}";
            window.userInfos.userName="#{userName}";
            window.userInfos.isAdmin="#{isAdmin}";

    body
        div.navContainer
            div.nav
                div.col-lg-2
                    a(href="/" class="title btn btn-primary") My Keystone Website
                div.col-lg-4.pull-right
                    if connected == true
                        .col-lg-3.pull-right    
                            a(href="/keystone/signout", class="logout btn btn-primary") Log out
                        .col-lg-3.pull-right    
                            a(href="/account", class="login btn btn-primary") Account
                        .col-lg-6.pull-right
                            span(class="userEmail btn btn-primary") #{userEmail}
                    else
                        .col-lg-3.pull-right    
                            a(href="/login", class="login btn btn-primary") Log in
                        .col-lg-3.pull-right    
                            a(href="/register", class="register btn btn-primary") Sign up  
        div.container
            #content 
                block intro
                +flash-messages(messages)
                block content
            div.footer 
                block footer 
            
    block js